[Unit]
Description=fbx2 service
After=network.target

[Service]
ExecStart=/usr/bin/python eyes.py
WorkingDirectory=/boot/Pi_Eyes
Restart=on-failure

[Install]
WantedBy=multi-user.target